* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
}

.drop {

    height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.logo>img {
    width: 100%;
}

.pro-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

}

.pro-img>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pro-name {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px;
}
.hero{
    width: 100%;
    /* height: 100vh; */
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.hi{
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
}

.box {
    width: 500px;
    display: flex;
    align-items: center;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: gold;
    text-shadow: 2px 2px silver;
    font-family: sans-serif;

}

.que {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;


}

.box .que h2 {
    font-size: 1.2rem;

}

.opt {
    width: 100%;

    margin-top: 40px;


}


.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

button {
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    background-color: gold;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 1px 1px silver;
    cursor: pointer;


}

button:active {
    background-color: darkgreen;
}

.opt:hover {
    background-color: rgb(64, 161, 199);
}

label:hover {
    color: white;
}

@media screen and (max-width:520px) {
    .box {
        width: 420px;
    }
}

@media screen and (max-width:450px) {
    .box {
        width: 380px;
    }
}

@media screen and (max-width:400px) {
    .box {
        width: 330px;

    }

    header {
        padding: 20px;
    }
}